.container {
    display : flex;
    flex-direction : column;
    justify-content: center;
    height : auto;
    width: auto;
}

 
 [class ^="box-"]{
    text-align: center;
    align-content: center;
     width: auto;
     height: auto;
     background-color: white;
     /* border: 2px solid black; */
     font-size: 45px;
}

 .inside-div {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
}

 .inside.div-v{
    text-align: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.face {
    max-width: 25%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 35px;
    padding-bottom: 35px;
}

img {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

p {
    font-size: 25px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1, p {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    line-height: 1.2;
}


.b1 {
    color: white;;
    background-color: rgb(41, 57, 69);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.b2 {
    font-size: 15px;
}

.c1 {
    color: white;;
    background-color: hsl(140, 72%, 61%);
    padding-left:auto;
    padding-right: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    height: 20%;
    min-height: 400px;
    max-height: 1600px;
}


.rounded {
    border-radius: 35px;
    padding: 10px;
    width:100%;
    max-width:440px;
}

.p-pad {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-border-white {
    border: 2.5px solid white;
    border-radius: 7px;
    background-color: transparent;
    cursor: pointer;
    height: 90px;
    width: 350px;
    font-size: 35px;
    color: white;
    display: inline-block;
}

.btn-border-white:hover {
    background-color: white;
    color: black;
 }

 form {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

 }

 input {
    width: auto;
    min-width: 420px;
    float: left;
    /* text-align: left; */
    padding-top:25px;
    padding-bottom: 15px;
    padding-right:15px;
 }
 
 label {
    float: left;
    /* padding-bottom: 15px; */
    /* padding-left: 15px; */
    /* display: inline-block; */
    /* width: 40px; */
    text-align: left;
 }

.l1 {    
    color: white;;
    background-color: rgb(41, 57, 69);
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 120px;

}

.ftr {
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(35, 47, 47);
}

.ftr-1 {
    font-size: 12px;
}